<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/esq_senha.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Esqueci Senha</title>

</head>
<body>
    <main id="container">
        <form action="" id="login_form">
            <div id="form_header">
                <h1>Recuperar Senha</h1>
                <div class="icons">
                    <a href='#'>🍌</a>
                    <i class="fa-solid fa-moon" id="mode-icon"></i>
                </div>
            </div>
            <div id="texto">
                <p>Digite abaixo o email que foi cadastrado no momento da criacao da conta. </p>
                <p>Nele irá chegar um email com um codigo.</p>
            </div>
            <div id="inputs">
                <div class="input-box">
                    <label for="name">
                        Email
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="email" id="email" name="email" placeholder="jose@gmail.com" required>
                        </div>
                    </label>
                </div>
                
                <div id="links">
                    <div id="esquecer_senha">
                        <a href="/template/login.html">
                            Login
                        </a>
                    </div>
                </div>

            </div>

            <button type="submit" id="login_button">Enviar</button>
        </form>
    </main>
    
<script src="/static/js/login.js"></script>
</body>
</html>